/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.navbar {
	display: flex;
	list-style: none;
	justify-content: flex-end;
	margin: 1px;
	padding: 0;
	text-align: center;
	height: 100%;
}


.hlavicka {
	background-color: #3498db;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1px;
	height: 60px;
}

.logo {
	font-size: 30px;
	font-weight: bold;
	padding: 10px 20px;
	text-transform: uppercase;
}

a {
	display: flex;
	align-items: center;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
	height: 100%;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
